@{
  Layout = "_Layout";
}

<button class="btn btn-success">@Html.ActionLink("Look for a restaurant near you!", "Index", "Restaurants")</button>
<button class="btn btn-success">@Html.ActionLink("See all cuisine options", "Index", "Cuisines")</button>